<!DOCTYPE html>
<html>
<head>
	<title>TeamUp powered by Cloudant</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/style/style.css" />
</head>
<body>
	<div class="leftHalf">
<img class="newappIcon" src="images/newapp-icon.png">
				<h1>
					Welcome to the <span class="blue">TeamUp powered by Cloudant</span>
				</h1>
        <p class="description">Get started by reading our <a href="https://github.com/MalvinMiao/CMPE-272-mini-project">Projcet Documentation</a></p>
	</div>
	<div class = "rightHalf">
	<header>
		<div class='title'>TeamUp
		</div>
	</header>	
	<section id='appinfo'>
		<table>
			<tbody>
				<tr><td>This application helps you find teammates for your specified events.</td></tr>
				<tr><td>You can add events into waiting list, when there is a new user waiting for the same event, </td></tr>
				<tr><td>you and all the users waiting for the same event will receive an email as a notification. </td></tr>
				<tr><td>You can also search for the users waiting for the same event, and all the events of yours. </td></tr>
				<tr><td>After set up your team, you can delete your waiting event from your list, or delete all your events. </td></tr>
			</tbody>
		</table>
	</section>
	
	<form action="http://cmpe-272-teamup.mybluemix.net/add_event" method="POST">
	Event: <input type="text" name="event"> <br>
	Place: <input type="text" name="place"> <br>
	First Name: <input type="text" name="first_name"> <br>
	Last Name: <input type="text" name="last_name"> <br>
	Email: <input type="text" name="email"> <br>
	<input type="submit" value="Add new event">
	</form>
	<br> <br>
	<form action="http://cmpe-272-teamup.mybluemix.net/get_event_for_email" method="GET">
	Find Events for Email: <input type="text" name="email"> <br>
	<input type="submit" value="Display all events">
	</form>
	<br><br>
	<form action="http://cmpe-272-teamup.mybluemix.net/get_email_for_event" method="GET">
	Find Users for Event: <input type="text" name="event"> <br>
	<input type="submit" value="Display all users">
	</form>
	<br><br>
	<form action="http://cmpe-272-teamup.mybluemix.net/delete_event_for_email" method="POST">
	Delete Event: <input type="text" name="event"> <br>
	At Place: <input type="text" name="place"> <br>
	For Email: <input type="text" name="email"> <br>
	<input type="submit" value="Delete event">
	</form>
	<br><br>
	<form action="http://cmpe-272-teamup.mybluemix.net/delete_all_events_for_email" method="POST">
	Delete all Events for Email: <input type="text" name="email"> <br>
	<input type="submit" value="Delete all events">
	</form>
	<!--<footer>
		<div class='tips'>Click the Add button to add a new category.
			<button class='detailBtn' onclick="toggleServiceInfo()" title='Service information'>
				<img src='images/detail.png' alt='detail'/>
			
			<button class="addBtn" onclick="addItem()" title="add record">
							<img src="images/add.png" alt="add">
						</button>
		</div>
		<div id="loadingImage"></div>	
		<br><br><br><br><br>	
		<div id="errorDiv" class='errorMsg'></div>	
	</footer>-->
	<!--<script type="text/javascript" src="/scripts/util.js"></script>
	<script type="text/javascript" src="/scripts/index.js"></script>-->
	<div id="myImage"><div id="innerImg"></div></div>
	<br><br><br>	
	</div>
</body>
</html>
